@font-face {
  font-family: 'Selima';
  src: url(../fonts/selima-webfont.ttf) format(ttf), url(../fonts/selima-webfont.eot) format(eot), url(../fonts/selima-webfont.woff) format(woff); }
@font-face {
  font-family: 'Nexa';
  src: url(../fonts/exa_bold-webfont.ttf) format(ttf), url(../fonts/nexa_bold-webfont.eot) format(eot); }
@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/montserrat-webfont.ttf) format(ttf), url(../fonts/montserrat-webfont.eot) format(eot), url(../fonts/montserrat-webfont.woff) format(woff); }
* {
  box-sizing: border-box; }

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Montserrat;
  color: #171D23; }

body {
  width: 100%;
  min-height: 100%;
  background-color: #EAE5DF;
  text-align: center;
  margin: 0;
  padding: 0; }

.page-container {
  position: absolute;
  width: 100%;
  height: 100%; }

.wrapper {
  z-index: 0;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 45%;
  -webkit-font-smoothing: antialiased;
  transform: translateY(-50%) scale(1); }

h1 {
  font-family: Selima;
  color: #171D23;
  font-size: 4em;
  text-shadow: 1px 3px #E64C3B;
  margin: auto;
  margin-bottom: 3rem; }

h1.the-big-one {
  text-shadow: 2px 6px #E64C3B;
  font-size: 15em;
  transform: rotate(-8deg); }

.clear {
  clear: both;
  display: block;
  width: 0;
  height: 0; }

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.align-middle-block {
  max-width: 30em;
  font-size: initial;
  margin: 2em; }

.align-middle-block.text {
  min-width: 30em; }

ul li {
  list-style: none; }

button {
  padding: 0.3em 1em;
  font-family: Montserrat;
  color: #E64C3B;
  border: solid 0.1em #E64C3B;
  font-size: 2.5em;
  background-color: #EAE5DF;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  z-index: 1;
  transition: 0.5s; }

button:focus {
  outline: none; }

button:hover {
  color: #EAE5DF;
  background-color: #E64C3B; }

.center {
  text-align: center; }
  .center p {
    font-family: Montserrat;
    color: #171D23;
    margin: 0; }
  .center p.title-medium {
    font-size: 2em; }
  .center p.title-small {
    font-size: 1.6em; }
  .center p.looking-for {
    font-family: Nexa;
    font-size: 3em;
    margin-top: 1em; }

nav {
  z-index: -1000;
  position: fixed;
  width: 0;
  height: 0;
  overflow: hidden; }

nav.activ {
  z-index: 10;
  position: fixed;
  display: initial;
  width: 100%;
  min-height: 100%;
  top: 0;
  left: 0; }

nav.activ::after {
  width: 10000px;
  height: 10000px;
  transition: 1.5s; }

nav::after {
  content: '';
  position: absolute;
  z-index: -1;
  display: block;
  background-color: #171D23;
  border-radius: 50%;
  transform: translateX(50%) translateY(-50%);
  width: 0;
  height: 0;
  top: 2em;
  right: 2.5em; }

.menu-icon-container:before {
  content: "";
  display: block;
  padding-top: 100%;
  /* ratio of 1:1*/
  transition-delay: 0s;
  transition: 0s; }

.activ .menu-icon-container {
  opacity: 1;
  transition-delay: 0.5s;
  transition-duration: .2s; }

.menu-icon-container {
  width: calc(100%/5);
  height: width;
  position: relative;
  display: inline-block;
  opacity: 0;
  transition-delay: 0.5s;
  transition-duration: 0.2s; }
  .menu-icon-container * {
    cursor: pointer; }
  .menu-icon-container .menu-item {
    z-index: 1000;
    position: absolute;
    font-family: Selima;
    color: #EAE5DF;
    font-size: 4em;
    margin: 0;
    margin: auto;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    text-shadow: -5px -5px 0 #171D23, -5px -4px 0 #171D23, -5px -3px 0 #171D23, -5px -2px 0 #171D23, -5px -1px 0 #171D23, -5px 0px 0 #171D23, -5px 1px 0 #171D23, -5px 2px 0 #171D23, -5px 3px 0 #171D23, -5px 4px 0 #171D23, -5px 5px 0 #171D23, -4px -5px 0 #171D23, -4px -4px 0 #171D23, -4px -3px 0 #171D23, -4px -2px 0 #171D23, -4px -1px 0 #171D23, -4px 0px 0 #171D23, -4px 1px 0 #171D23, -4px 2px 0 #171D23, -4px 3px 0 #171D23, -4px 4px 0 #171D23, -4px 5px 0 #171D23, -3px -5px 0 #171D23, -3px -4px 0 #171D23, -3px -3px 0 #171D23, -3px -2px 0 #171D23, -3px -1px 0 #171D23, -3px 0px 0 #171D23, -3px 1px 0 #171D23, -3px 2px 0 #171D23, -3px 3px 0 #171D23, -3px 4px 0 #171D23, -3px 5px 0 #171D23, -2px -5px 0 #171D23, -2px -4px 0 #171D23, -2px -3px 0 #171D23, -2px -2px 0 #171D23, -2px -1px 0 #171D23, -2px 0px 0 #171D23, -2px 1px 0 #171D23, -2px 2px 0 #171D23, -2px 3px 0 #171D23, -2px 4px 0 #171D23, -2px 5px 0 #171D23, -1px -5px 0 #171D23, -1px -4px 0 #171D23, -1px -3px 0 #171D23, -1px -2px 0 #171D23, -1px -1px 0 #171D23, -1px 0px 0 #171D23, -1px 1px 0 #171D23, -1px 2px 0 #171D23, -1px 3px 0 #171D23, -1px 4px 0 #171D23, -1px 5px 0 #171D23, 0px -5px 0 #171D23, 0px -4px 0 #171D23, 0px -3px 0 #171D23, 0px -2px 0 #171D23, 0px -1px 0 #171D23, 0px 0px 0 #171D23, 0px 1px 0 #171D23, 0px 2px 0 #171D23, 0px 3px 0 #171D23, 0px 4px 0 #171D23, 0px 5px 0 #171D23, 1px -5px 0 #171D23, 1px -4px 0 #171D23, 1px -3px 0 #171D23, 1px -2px 0 #171D23, 1px -1px 0 #171D23, 1px 0px 0 #171D23, 1px 1px 0 #171D23, 1px 2px 0 #171D23, 1px 3px 0 #171D23, 1px 4px 0 #171D23, 1px 5px 0 #171D23, 2px -5px 0 #171D23, 2px -4px 0 #171D23, 2px -3px 0 #171D23, 2px -2px 0 #171D23, 2px -1px 0 #171D23, 2px 0px 0 #171D23, 2px 1px 0 #171D23, 2px 2px 0 #171D23, 2px 3px 0 #171D23, 2px 4px 0 #171D23, 2px 5px 0 #171D23, 3px -5px 0 #171D23, 3px -4px 0 #171D23, 3px -3px 0 #171D23, 3px -2px 0 #171D23, 3px -1px 0 #171D23, 3px 0px 0 #171D23, 3px 1px 0 #171D23, 3px 2px 0 #171D23, 3px 3px 0 #171D23, 3px 4px 0 #171D23, 3px 5px 0 #171D23, 4px -5px 0 #171D23, 4px -4px 0 #171D23, 4px -3px 0 #171D23, 4px -2px 0 #171D23, 4px -1px 0 #171D23, 4px 0px 0 #171D23, 4px 1px 0 #171D23, 4px 2px 0 #171D23, 4px 3px 0 #171D23, 4px 4px 0 #171D23, 4px 5px 0 #171D23, 5px -5px 0 #171D23, 5px -4px 0 #171D23, 5px -3px 0 #171D23, 5px -2px 0 #171D23, 5px -1px 0 #171D23, 5px 0px 0 #171D23, 5px 1px 0 #171D23, 5px 2px 0 #171D23, 5px 3px 0 #171D23, 5px 4px 0 #171D23, 5px 5px 0 #171D23;
    transition-duration: 0.2s; }
  .menu-icon-container .menu-item:hover {
    text-shadow: -5px -5px 0 #E64C3B, -5px -4px 0 #E64C3B, -5px -3px 0 #E64C3B, -5px -2px 0 #E64C3B, -5px -1px 0 #E64C3B, -5px 0px 0 #E64C3B, -5px 1px 0 #E64C3B, -5px 2px 0 #E64C3B, -5px 3px 0 #E64C3B, -5px 4px 0 #E64C3B, -5px 5px 0 #E64C3B, -4px -5px 0 #E64C3B, -4px -4px 0 #E64C3B, -4px -3px 0 #E64C3B, -4px -2px 0 #E64C3B, -4px -1px 0 #E64C3B, -4px 0px 0 #E64C3B, -4px 1px 0 #E64C3B, -4px 2px 0 #E64C3B, -4px 3px 0 #E64C3B, -4px 4px 0 #E64C3B, -4px 5px 0 #E64C3B, -3px -5px 0 #E64C3B, -3px -4px 0 #E64C3B, -3px -3px 0 #E64C3B, -3px -2px 0 #E64C3B, -3px -1px 0 #E64C3B, -3px 0px 0 #E64C3B, -3px 1px 0 #E64C3B, -3px 2px 0 #E64C3B, -3px 3px 0 #E64C3B, -3px 4px 0 #E64C3B, -3px 5px 0 #E64C3B, -2px -5px 0 #E64C3B, -2px -4px 0 #E64C3B, -2px -3px 0 #E64C3B, -2px -2px 0 #E64C3B, -2px -1px 0 #E64C3B, -2px 0px 0 #E64C3B, -2px 1px 0 #E64C3B, -2px 2px 0 #E64C3B, -2px 3px 0 #E64C3B, -2px 4px 0 #E64C3B, -2px 5px 0 #E64C3B, -1px -5px 0 #E64C3B, -1px -4px 0 #E64C3B, -1px -3px 0 #E64C3B, -1px -2px 0 #E64C3B, -1px -1px 0 #E64C3B, -1px 0px 0 #E64C3B, -1px 1px 0 #E64C3B, -1px 2px 0 #E64C3B, -1px 3px 0 #E64C3B, -1px 4px 0 #E64C3B, -1px 5px 0 #E64C3B, 0px -5px 0 #E64C3B, 0px -4px 0 #E64C3B, 0px -3px 0 #E64C3B, 0px -2px 0 #E64C3B, 0px -1px 0 #E64C3B, 0px 0px 0 #E64C3B, 0px 1px 0 #E64C3B, 0px 2px 0 #E64C3B, 0px 3px 0 #E64C3B, 0px 4px 0 #E64C3B, 0px 5px 0 #E64C3B, 1px -5px 0 #E64C3B, 1px -4px 0 #E64C3B, 1px -3px 0 #E64C3B, 1px -2px 0 #E64C3B, 1px -1px 0 #E64C3B, 1px 0px 0 #E64C3B, 1px 1px 0 #E64C3B, 1px 2px 0 #E64C3B, 1px 3px 0 #E64C3B, 1px 4px 0 #E64C3B, 1px 5px 0 #E64C3B, 2px -5px 0 #E64C3B, 2px -4px 0 #E64C3B, 2px -3px 0 #E64C3B, 2px -2px 0 #E64C3B, 2px -1px 0 #E64C3B, 2px 0px 0 #E64C3B, 2px 1px 0 #E64C3B, 2px 2px 0 #E64C3B, 2px 3px 0 #E64C3B, 2px 4px 0 #E64C3B, 2px 5px 0 #E64C3B, 3px -5px 0 #E64C3B, 3px -4px 0 #E64C3B, 3px -3px 0 #E64C3B, 3px -2px 0 #E64C3B, 3px -1px 0 #E64C3B, 3px 0px 0 #E64C3B, 3px 1px 0 #E64C3B, 3px 2px 0 #E64C3B, 3px 3px 0 #E64C3B, 3px 4px 0 #E64C3B, 3px 5px 0 #E64C3B, 4px -5px 0 #E64C3B, 4px -4px 0 #E64C3B, 4px -3px 0 #E64C3B, 4px -2px 0 #E64C3B, 4px -1px 0 #E64C3B, 4px 0px 0 #E64C3B, 4px 1px 0 #E64C3B, 4px 2px 0 #E64C3B, 4px 3px 0 #E64C3B, 4px 4px 0 #E64C3B, 4px 5px 0 #E64C3B, 5px -5px 0 #E64C3B, 5px -4px 0 #E64C3B, 5px -3px 0 #E64C3B, 5px -2px 0 #E64C3B, 5px -1px 0 #E64C3B, 5px 0px 0 #E64C3B, 5px 1px 0 #E64C3B, 5px 2px 0 #E64C3B, 5px 3px 0 #E64C3B, 5px 4px 0 #E64C3B, 5px 5px 0 #E64C3B;
    transition-duration: 0.2s; }
  .menu-icon-container .menu-icon-part {
    position: absolute;
    transform: translateX(-50%) translateY(-50%); }
  .menu-icon-container #amcomp {
    z-index: 4;
    width: 50%;
    top: 50%;
    left: 50%; }
  .menu-icon-container #amhead {
    z-index: 3;
    width: 35%;
    top: 20%;
    left: 52%; }
  .menu-icon-container #amhand {
    z-index: 2;
    width: 10%;
    top: 50%;
    left: 75%; }
  .menu-icon-container #ampaper {
    z-index: 5;
    width: 30%;
    top: 60%;
    left: 25%; }
  .menu-icon-container #pcog {
    z-index: 1;
    width: 35%;
    top: 57%;
    left: 25%; }
  .menu-icon-container #ppaper {
    z-index: 2;
    top: 50%;
    left: 50%;
    width: 55%; }
  .menu-icon-container #pmouse {
    z-index: 4;
    top: 80%;
    left: 50%;
    width: 20%; }
  .menu-icon-container #ppen {
    z-index: 3;
    top: 35%;
    left: 50%;
    width: 20%; }
  .menu-icon-container #expdiploma {
    z-index: 3;
    top: 50%;
    width: 60%; }
  .menu-icon-container #expcog {
    z-index: 1;
    top: 50%;
    left: 80%;
    width: 35%; }
  .menu-icon-container #expdiamond {
    z-index: 2;
    top: 50%;
    left: 20.5%;
    width: 35%; }
  .menu-icon-container #cthunder {
    z-index: 5;
    top: 60%;
    left: 35%;
    width: 15%; }
  .menu-icon-container #csatellite {
    z-index: 4;
    top: 60%;
    left: 35%;
    width: 60%; }
  .menu-icon-container #cwaveone {
    z-index: 4;
    width: 50%;
    top: 35%;
    left: 60%; }
  .menu-icon-container #cwavetwo {
    z-index: 4;
    width: 40%;
    top: 40%;
    left: 55%; }
  .menu-icon-container #cwavethree {
    z-index: 4;
    width: 30%;
    top: 45%;
    left: 50%; }

div.ctn-menu-icon {
  position: absolute;
  z-index: 11;
  top: 1em;
  right: 1em;
  cursor: pointer; }
  div.ctn-menu-icon div.menu-bar {
    display: block;
    width: 3.5em;
    height: 0.5em;
    background-color: #171D23;
    transition: 0.3s; }
  div.ctn-menu-icon div.menu-bar:not(:last-child) {
    margin-bottom: 0.5em; }

div.ctn-menu-icon.activ div.menu-bar {
  transition: 0.3s;
  background-color: #EAE5DF; }
div.ctn-menu-icon.activ div.menu-bar:nth-child(1) {
  transform: translateY(200%) rotate(45deg); }
div.ctn-menu-icon.activ div.menu-bar:nth-child(2) {
  opacity: 0; }
div.ctn-menu-icon.activ div.menu-bar:nth-child(3) {
  transform: translateY(-200%) rotate(-45deg); }

.intro {
  top: 0; }

.inspiration {
  top: 100%; }

.arrow {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  bottom: 3em;
  margin: auto;
  left: 0;
  right: 0;
  width: 3em; }

.arrow.up {
  transform: rotate(180deg);
  top: 3em;
  bottom: inherit; }

.image-me {
  width: 20em; }

.align-middle-block.aboutme {
  text-align: justify; }
  .align-middle-block.aboutme h1 {
    text-align: left;
    margin: 0; }
  .align-middle-block.aboutme p {
    margin-left: 2em; }
  .align-middle-block.aboutme .ctn-aboutme-icon {
    margin-left: 2em; }
    .align-middle-block.aboutme .ctn-aboutme-icon .aboutme-icon {
      max-width: 4em;
      max-height: 4em; }

.align-middle-block.music, .align-middle-block.films {
  max-width: calc(100%/2); }
  .align-middle-block.music .image-musics, .align-middle-block.films .image-musics {
    display: inline-block;
    width: calc(100%/4);
    height: calc(100%/4);
    margin: 5px;
    overflow: hidden; }
  .align-middle-block.music .image-films.simple, .align-middle-block.films .image-films.simple {
    box-sizing: border-box;
    display: inline-block;
    width: calc(33%);
    margin: 5px; }
  .align-middle-block.music .image-films.double, .align-middle-block.films .image-films.double {
    display: block;
    width: calc(66%);
    margin: auto; }

.project {
  font-size: 0;
  text-align: left; }
  .project h1 {
    font-size: 4rem;
    text-align: left;
    margin-left: calc(100%/5); }
  .project .proj-left {
    vertical-align: top;
    text-align: center;
    font-size: initial;
    display: inline-block;
    width: calc(100%/5);
    position: relative;
    height: 100%; }
    .project .proj-left ul {
      display: inline-block; }
      .project .proj-left ul .link-for-project {
        font-size: 2rem;
        font-family: Montserrat;
        color: #171D23;
        margin-bottom: 0.5em;
        cursor: pointer; }
      .project .proj-left ul .link-for-project.activ {
        color: #E64C3B; }
    .project .proj-left .border-right {
      margin-left: 1em;
      display: inline-block;
      vertical-align: top;
      width: 1em;
      transform: skewY(-45deg);
      background-color: #171D23;
      height: 14.5em;
      overflow: hidden; }
  .project .proj-center {
    font-size: initial;
    display: inline-block;
    width: calc(100%/5 * 3);
    text-align: left; }
    .project .proj-center .ctn-img-project {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 40rem;
      height: 40rem;
      opacity: 0.5; }
      .project .proj-center .ctn-img-project img {
        width: 40rem;
        height: 40rem; }
  .project .bottom-part {
    position: relative;
    display: flex;
    align-content: space-around;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: center;
    align-items: flex-end; }
    .project .bottom-part .big-number {
      display: inline-block;
      font-size: 10em;
      vertical-align: bottom;
      line-height: 75%; }
    .project .bottom-part .colleague {
      display: inline-block;
      vertical-align: bottom;
      text-align: center; }
      .project .bottom-part .colleague .with {
        display: initial;
        margin: auto;
        color: white;
        background-color: #171D23;
        padding: 0.4em 0.8em; }
      .project .bottom-part .colleague ul, .project .bottom-part .colleague ul li {
        margin: 0;
        padding: 0; }
      .project .bottom-part .colleague ul {
        margin-top: 1em; }
      .project .bottom-part .colleague ul li {
        list-style: 0;
        font-size: 1.5em;
        margin-bottom: 0.2em; }
      .project .bottom-part .colleague ul li:last-of-type {
        margin-bottom: 0; }
    .project .bottom-part .hashtags {
      display: inline-block;
      vertical-align: initial;
      text-align: center;
      align-self: center; }
      .project .bottom-part .hashtags .ctn-hashtags {
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        flex-flow: center; }
        .project .bottom-part .hashtags .ctn-hashtags .hashtag {
          border: 2px solid #171D23;
          padding: 3px 8px;
          margin: 5px 8px;
          font-size: 1.1em; }
    .project .bottom-part .go-to-site {
      width: 4em; }
  .project .proj-timer {
    margin-top: 34px;
    margin-left: calc(100%/5);
    width: calc(100%/5 * 3 - 4rem);
    height: 15px;
    border: 3px solid #171D23;
    overflow: hidden;
    position: relative; }
    .project .proj-timer .runner {
      position: absolute;
      display: block;
      width: 52%;
      height: 300%;
      top: -10px;
      left: -10px;
      transform: skewX(-45deg);
      background-color: #171D23; }

/*# sourceMappingURL=master.css.map */
